---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<BaseLayout title="Proyectos - John">
  <Fragment slot="header">
    <Header />
  </Fragment>

  <h1>Mis Proyectos</h1>
  <section class="grid">
    <ProjectCard
      title="American Dad Landing"
      description="Landing page con filtros, con animaciones en css y API propia."
      link="https://american-dad-landing.vercel.app/"
      image="/public/assets/american_dad_poster.jpg"
    />
    <ProjectCard
      title="Dashboard Interactivo"
      description="Visualización de datos con Chart.js y microinteracciones."
      link="https://mini-dashboard-d8o9wz3xd-johncordoba2004s-projects.vercel.app"
      image="/public/assets/mini-dashboard.png"
    />
  </section>

  <Fragment slot="footer">
    <Footer />
  </Fragment>
</BaseLayout>
